<%- include("partials/header") %>

<section class="container-fluid mt-5 px-0">
    <div class="row align-items-center">
        <div class="col-lg-1 col-sm-2"></div>
        <div class="col-lg-10 col-sm-8 px5-5">
            <h1>突发奇想的一封信</h1>
            <p>hi, ptr 我刚刚在做project就顺手写在这里了</p>
                <h2>in response to our conversation on 有目的性的交往</h2>
            <p></p>
            1. thanks for all the late night chats
            2. my feelings i dont know either
            3. sorry for trying to make you the answer, wanting to get to know you

        <p>

        </p>
        </div>
        <div class="col-lg-1 col-sm-2"></div>
    </div>
</section>
<%- include("partials/footer") %>